<main class="main page-404">
    <div class="container">
        <div class="row align-items-center height-100vh text-center">
            <div class="col-lg-8 m-auto">
                <p class="mb-50"><img src="../../assets/Evera/imgs/theme/CheckTheme.gif" alt="" class="hover-up"></p>
                <h2 class="mb-30">Order Placed!</h2>
                <p class="font-lg text-grey-700 mb-30">
                  Your order has been placed successfully! <br/> You can check all of your orders in <a (click)="GoToDashboard()"><strong>My Orders</strong></a> tab.
                </p>
                    <a class="btn btn-default submit-auto-width font-xs hover-up" (click)="GoToDashboard()">View My Orders</a>
            </div>
        </div>
    </div>
</main>
