

<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a class="brand-wrap">
            <img src="assets/EvaraBackEnd/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">

            Dash

            <li class="menu-item active" (click)="Dash()" >
                <a class="menu-link" (click)="Dash()" > <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li class="menu-item has-submenu" (click)="Markets()">
                <a class="menu-link" (click)="Markets()" > <i class="icon material-icons md-local_mall"></i>
                    <span class="text">Markets</span>
                </a>
                <div class="submenu">
                    <a >Product List</a>
                    <a >Product grid</a>
                    <a >Product grid 2</a>
                    <a >Categories</a>
                </div>
            </li>


            <li class="menu-item" (click)="Users()" >
                <a class="menu-link" (click)="Users()" > <i class="icon material-icons md-people_alt"></i>
                    <span class="text">Users</span>
                </a>
               
            </li>

            <li class="menu-item" (click)="Orders()">
                <a class="menu-link" (click)="Orders()" > <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>

            <li class="menu-item" (click)="PromoCode()" >
                <a class="menu-link" (click)="PromoCode()" > <i class="icon material-icons md-local_offer"></i>
                    <span class="text">Promo Codes</span>
                </a>
            </li>
            <li class="menu-item" (click)="Testimonial()" >
                <a class="menu-link" (click)="Testimonial()" > <i class="icon material-icons md-format_quote"></i>
                    <span class="text">Testimonail</span>
                </a>
                
            </li>
            <li class="menu-item" (click)="ContactUs()" >
                <a class="menu-link" (click)="ContactUs()" > <i class="icon material-icons md-mark_chat_unread"></i>
                    <span class="text">Contact-Us</span>
                </a>
            </li>
            <li class="menu-item" (click)="Website()" >
                <a class="menu-link" (click)="Website()" > <i class="icon material-icons md-toggle_on"></i>
                    <span class="text">Website Data</span>
                </a>
            </li>

           <!--  <li class="menu-item">
                <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Reviews</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Brands</span> </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                    <span class="text">Statistics</span>
                </a>
            </li> -->
            
        </ul>

        <hr>

        <ul class="menu-aside">
           
            <li class="menu-item" (click)="LogOut()">
                <a class="menu-link" (click)="LogOut()"> <i class="icon material-icons md-exit_to_app"></i>
                    <span class="text-danger"> Logout </span>
                </a>
            </li>

        </ul>

        <br>
        <br>

    </nav>
</aside>


<main class="main-wrap">
 
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Markets" (change)="Markets()">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist>
            </form>
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon">
                        <i *ngIf="order.CountsOrders != null && order.CountsOrders != 0" (click)="Orders()" class="material-icons md-notifications animation-shake"></i>
                        <i *ngIf="order.CountsOrders == null && order.CountsOrders == 0" class="material-icons md-notifications"></i>
                        <span *ngIf="order.CountsOrders != null && order.CountsOrders != 0" (click)="Orders()" class="badge rounded-pill">{{order.CountsOrders}}</span>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link btn-icon darkmode"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                        <a class="dropdown-item text-brand" href="#"><img src="assets/EvaraBackEnd/imgs/theme/flag-us.png" alt="English">English</a>
                        <a class="dropdown-item" href="#"><img src="assets/EvaraBackEnd/imgs/theme/flag-fr.png" alt="Français">Français</a>
                        <a class="dropdown-item" href="#"><img src="assets/EvaraBackEnd/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                        <a class="dropdown-item" href="#"><img src="assets/EvaraBackEnd/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                    </div>
                </li> -->
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="../../../assets/Images/{{auth.currentUserData.image_path}}" alt="User"></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" (click)="profile()"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                        <!-- <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a> -->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" (click)="LogOut()"><i class="material-icons md-exit_to_app"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    

   
  
</main>